
// 自定义样式 阿吉 2021年5月24日14点17分
/*  -- flex弹性布局 -- */

.aj-flex {
  display: flex;
}

.aj-basis-xs {
  flex-basis: 20%;
}

.aj-basis-sm {
  flex-basis: 40%;
}

.aj-basis-df {
  flex-basis: 50%;
}

.aj-basis-lg {
  flex-basis: 60%;
}

.aj-basis-xl {
  flex-basis: 80%;
}

.aj-basis-xxl {
  flex-basis: 100%;
}

.aj-flex-sub {
  flex: 1;
}

.aj-flex-twice {
  flex: 2;
}

.aj-flex-treble {
  flex: 3;
}

.aj-flex-direction {
  flex-direction: column;
}

.aj-flex-wrap {
  flex-wrap: wrap;
}

.aj-align-start {
  align-items: flex-start;
}

.aj-align-end {
  align-items: flex-end;
}

.aj-align-center {
  align-items: center;
}

.aj-align-stretch {
  align-items: stretch;
}

.aj-self-start {
  align-self: flex-start;
}

.aj-self-center {
  align-self: flex-center;
}

.aj-self-end {
  align-self: flex-end;
}

.aj-self-stretch {
  align-self: stretch;
}

.aj-align-stretch {
  align-items: stretch;
}

.aj-justify-start {
  justify-content: flex-start;
}

.aj-justify-end {
  justify-content: flex-end;
}

.aj-justify-center {
  justify-content: center;
}

.aj-justify-between {
  justify-content: space-between;
}

.aj-justify-around {
  justify-content: space-around;
}

.aj-justify-evenly {
  justify-content: space-evenly;
}
/*  -- 内外边距 -- */

.aj-margin-0 {
  margin: 0;
}

.aj-margin-xs {
  margin: 4px;
}

.aj-margin-sm {
  margin: 8px;
}

.aj-margin {
  margin: 12px;
}

.aj-margin-lg {
  margin: 24px;
}

.aj-margin-xl {
  margin: 32px;
}

.aj-margin-top-xs {
  margin-top: 4px;
}

.aj-margin-top-sm {
  margin-top: 8px;
}

.aj-margin-top-sm-important {
  margin-top: 8px !important;
}

.aj-margin-top-md-important {
  margin-top: 16px !important;
}

.aj-margin-top {
  margin-top: 12px;
}

.aj-margin-top-lg {
  margin-top: 24px;
}

.aj-margin-top-lg-important {
  margin-top: 24px !important;
}

.aj-margin-top-xl {
  margin-top: 32px;
}

.aj-margin-right-xs {
  margin-right: 4px;
}

.aj-margin-right-sm {
  margin-right: 8px;
}

.aj-margin-right {
  margin-right: 12px;
}

.aj-margin-right-lg {
  margin-right: 24px;
}

.aj-margin-right-xl {
  margin-right: 32px;
}

.aj-margin-bottom-xs {
  margin-bottom: 4px;
}

.aj-margin-bottom-sm {
  margin-bottom: 8px;
}

.aj-margin-bottom {
  margin-bottom: 12px;
}

.aj-margin-bottom-lg {
  margin-bottom: 24px;
}

.aj-margin-bottom-xl {
  margin-bottom: 32px;
}

.aj-margin-left-xs {
  margin-left: 4px;
}

.aj-margin-left-sm {
  margin-left: 8px;
}

.aj-margin-left {
  margin-left: 12px;
}

.aj-margin-left-lg {
  margin-left: 24px;
}

.aj-margin-left-xl {
  margin-left: 32px;
}

.aj-margin-lr-xs {
  margin-left: 4px;
  margin-right: 4px;
}

.aj-margin-lr-sm {
  margin-left: 8px;
  margin-right: 8px;
}

.aj-margin-lr {
  margin-left: 12px;
  margin-right: 12px;
}

.aj-margin-lr-lg {
  margin-left: 24px;
  margin-right: 24px;
}

.aj-margin-lr-xl {
  margin-left: 32px;
  margin-right: 32px;
}

.aj-margin-tb-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.aj-margin-tb-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.aj-margin-tb {
  margin-top: 12px;
  margin-bottom: 12px;
}

.aj-margin-tb-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.aj-margin-tb-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}

.aj-padding-0 {
  padding: 0;
}

.aj-padding-xs {
  padding: 4px;
}

.aj-padding-sm {
  padding: 8px;
}

.aj-padding {
  padding: 12px;
}

.aj-padding-lg {
  padding: 24px;
}

.aj-padding-xl {
  padding: 32px;
}

.aj-padding-top-xs {
  padding-top: 4px;
}

.aj-padding-top-sm {
  padding-top: 8px;
}

.aj-padding-top {
  padding-top: 12px;
}

.aj-padding-top-lg {
  padding-top: 24px;
}

.aj-padding-top-xl {
  padding-top: 32px;
}

.aj-padding-right-xs {
  padding-right: 4px;
}

.aj-padding-right-sm {
  padding-right: 8px;
}

.aj-padding-right {
  padding-right: 12px;
}

.aj-padding-right-lg {
  padding-right: 24px;
}

.aj-padding-right-xl {
  padding-right: 32px;
}

.aj-padding-bottom-xs {
  padding-bottom: 4px;
}

.aj-padding-bottom-sm {
  padding-bottom: 8px;
}

.aj-padding-bottom {
  padding-bottom: 12px;
}

.aj-padding-bottom-lg {
  padding-bottom: 24px;
}

.aj-padding-bottom-xl {
  padding-bottom: 32px;
}

.aj-padding-left-xs {
  padding-left: 4px;
}

.aj-padding-left-sm {
  padding-left: 8px;
}

.aj-padding-left {
  padding-left: 12px;
}

.aj-padding-left-lg {
  padding-left: 24px;
}

.aj-padding-left-xl {
  padding-left: 32px;
}

.aj-padding-lr-xs {
  padding-left: 4px;
  padding-right: 4px;
}

.aj-padding-lr-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.aj-padding-lr {
  padding-left: 12px;
  padding-right: 12px;
}

.aj-padding-lr-lg {
  padding-left: 24px;
  padding-right: 24px;
}

.aj-padding-lr-xl {
  padding-left: 32px;
  padding-right: 32px;
}

.aj-padding-tb-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.aj-padding-tb-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.aj-padding-tb {
  padding-top: 12px;
  padding-bottom: 12px;
}

.aj-padding-tb-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.aj-padding-tb-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* ==================
          文本
 ==================== */
.text-del {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-xs {
  font-size: 14px;
}

.text-sm {
  font-size: 16px;
}

.text-df {
  font-size: 18px;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 22px;
}

.text-xxl {
  font-size: 24px;
}

.text-sl {
  font-size: 26px;
}

.text-xsl {
  font-size: 28px;
}

.text-Abc {
  text-transform: Capitalize;
}

.text-ABC {
  text-transform: Uppercase;
}

.text-abc {
  text-transform: Lowercase;
}

.text-price::before {
  content: "¥";
  font-size: 80%;
  margin-right: 4px;
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-content {
  line-height: 1.6;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-red,
.line-red,
.lines-red {
  color: #e54d42;
}

.text-red-important,
.line-red-important,
.lines-red-important {
  color: #e54d42 !important;
}

.text-orange,
.line-orange,
.lines-orange {
  color: #f37b1d;
}

.text-yellow,
.line-yellow,
.lines-yellow {
  color: #fbbd08;
}

.text-olive,
.line-olive,
.lines-olive {
  color: #8dc63f;
}

.text-green,
.line-green,
.lines-green {
  color: #39b54a;
}

.text-cyan,
.line-cyan,
.lines-cyan {
  color: #1cbbb4;
}

.text-blue,
.line-blue,
.lines-blue {
  color: #0081ff;
}

.text-purple,
.line-purple,
.lines-purple {
  color: #6739b6;
}

.text-mauve,
.line-mauve,
.lines-mauve {
  color: #9c26b0;
}

.text-pink,
.line-pink,
.lines-pink {
  color: #e03997;
}

.text-brown,
.line-brown,
.lines-brown {
  color: #a5673f;
}

.text-grey,
.line-grey,
.lines-grey {
  color: #8799a3;
}

.text-gray,
.line-gray,
.lines-gray {
  color: #aaaaaa;
}

.text-black,
.line-black,
.lines-black {
  color: #333333;
}

.text-black-mid,
.line-black-mid,
.lines-black-mid {
  color: #666;
}

.text-white,
.line-white,
.lines-white {
  color: #ffffff;
}
/* -- 阴影 -- */

.aj-shadow[class*='white'] {
  --ShadowSize: 0 2px 8px;
}

.aj-shadow-lg {
  --ShadowSize: 0 4px 10px 0;
}

.aj-shadow-warp {
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.aj-shadow-warp:before,
.aj-shadow-warp:after {
  position: absolute;
  content: "";
  top: 2px;
  bottom: 4px;
  left: 2px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  z-index: -1;
}

.aj-shadow-warp:after {
  right: 4px;
  left: auto;
  transform: rotate(3deg);
}

.aj-shadow-blur {
  position: relative;
}

.aj-shadow-blur::before {
  content: "";
  display: block;
  background: inherit;
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 8px;
  z-index: -1;
  opacity: 0.4;
  transform-origin: 0 0;
  border-radius: inherit;
  transform: scale(1, 1);
}

.aj-shadow[class*="-red"] {
  box-shadow: 4px 4px 8px rgba(204, 69, 59, 0.2);
}

.aj-shadow[class*="-orange"] {
  box-shadow: 4px 4px 8px rgba(217, 109, 26, 0.2);
}

.aj-shadow[class*="-yellow"] {
  box-shadow: 4px 4px 8px rgba(224, 170, 7, 0.2);
}

.aj-shadow[class*="-olive"] {
  box-shadow: 4px 4px 8px rgba(124, 173, 55, 0.2);
}

.aj-shadow[class*="-green"] {
  box-shadow: 4px 4px 8px rgba(48, 156, 63, 0.2);
}

.aj-shadow[class*="-cyan"] {
  box-shadow: 4px 4px 8px rgba(28, 187, 180, 0.2);
}

.aj-shadow[class*="-blue"] {
  box-shadow: 4px 4px 8px rgba(0, 102, 204, 0.2);
}

.aj-shadow[class*="-purple"] {
  box-shadow: 4px 4px 8px rgba(88, 48, 156, 0.2);
}

.aj-shadow[class*="-mauve"] {
  box-shadow: 4px 4px 8px rgba(133, 33, 150, 0.2);
}

.aj-shadow[class*="-pink"] {
  box-shadow: 4px 4px 8px rgba(199, 50, 134, 0.2);
}

.aj-shadow[class*="-brown"] {
  box-shadow: 4px 4px 8px rgba(140, 88, 53, 0.2);
}

.aj-shadow[class*="-grey"] {
  box-shadow: 4px 4px 8px rgba(114, 130, 138, 0.2);
}

.aj-shadow[class*="-gray"] {
  box-shadow: 4px 4px 8px rgba(114, 130, 138, 0.2);
}

.aj-shadow[class*="-black"] {
  box-shadow: 4px 4px 8px rgba(26, 26, 26, 0.2);
}

.aj-shadow[class*="-white"] {
  box-shadow: 4px 4px 8px rgba(26, 26, 26, 0.2);
}

.bg-red {
  background-color: #e54d42 !important;
  color: #ffffff !important;
}

.bg-orange {
  background-color: #f37b1d;
  color: #ffffff;
}

.bg-yellow {
  background-color: #fbbd08;
  color: #333333;
}

.bg-olive {
  background-color: #8dc63f;
  color: #ffffff;
}

.bg-green {
  background-color: #39b54a;
  color: #ffffff;
}

.bg-cyan {
  background-color: #1cbbb4;
  color: #ffffff;
}

.bg-blue {
  background-color: #0081ff;
  color: #ffffff;
}

.bg-purple {
  background-color: #6739b6;
  color: #ffffff;
}

.bg-mauve {
  background-color: #9c26b0;
  color: #ffffff;
}

.bg-pink {
  background-color: #e03997;
  color: #ffffff;
}

.bg-brown {
  background-color: #a5673f;
  color: #ffffff;
}

.bg-grey {
  background-color: #8799a3;
  color: #ffffff;
}

.bg-gray {
  background-color: #f0f0f0;
  color: #333333;
}

.bg-black {
  background-color: #333333;
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
  color: #666666;
}

.bg-shadeTop {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01));
  color: #ffffff;
}

.bg-shadeBottom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  color: #ffffff;
}

.bg-red.light {
  color: #e54d42;
  background-color: #fadbd9;
}

.bg-orange.light {
  color: #f37b1d;
  background-color: #fde6d2;
}

.bg-yellow.light {
  color: #fbbd08;
  background-color: #fef2ced2;
}

.bg-olive.light {
  color: #8dc63f;
  background-color: #e8f4d9;
}

.bg-green.light {
  color: #39b54a;
  background-color: #d7f0dbff;
}

.bg-cyan.light {
  color: #1cbbb4;
  background-color: #d2f1f0;
}

.bg-blue.light {
  color: #0081ff;
  background-color: #cce6ff;
}

.bg-purple.light {
  color: #6739b6;
  background-color: #e1d7f0;
}

.bg-mauve.light {
  color: #9c26b0;
  background-color: #ebd4ef;
}

.bg-pink.light {
  color: #e03997;
  background-color: #f9d7ea;
}

.bg-brown.light {
  color: #a5673f;
  background-color: #ede1d9;
}

.bg-grey.light {
  color: #8799a3;
  background-color: #e7ebed;
}

.bg-gradual-red {
  background-image: linear-gradient(45deg, #f43f3b, #ec008c);
  color: #ffffff;
}

.bg-gradual-orange {
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
  color: #ffffff;
}

.bg-gradual-green {
  background-image: linear-gradient(45deg, #39b54a, #8dc63f);
  color: #ffffff;
}

.bg-gradual-purple {
  background-image: linear-gradient(45deg, #9000ff, #5e00ff);
  color: #ffffff;
}

.bg-gradual-pink {
  background-image: linear-gradient(45deg, #ec008c, #6739b6);
  color: #ffffff;
}

.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #ffffff;
}

.aj-media-browser .ant-modal-body > .scrollbar{
    padding:0 !important
}
