.ant-tabs-card .ant-tabs-tab{
    margin: 0 !important;
    margin-right: 24px !important;
    border-radius: 4px 4px 0 0 !important;
    color: #858D98 !important;
    line-height: 18px;
    padding: 8px 16px !important;
    background: #FFF !important;
    border: 1px solid #FFF !important;
    border-bottom-color: rgba(5, 5, 5, 0.06) !important;
}

.ant-tabs-card .ant-tabs-tab-active{
    background-color: #ecf2ff !important;
    border-bottom-color:#ecf2ff !important;
}

.ant-steps.ant-steps-label-vertical .ant-steps-item-content {
    margin-top: 8px !important;
}
.ant-steps .ant-steps-item-title {
    line-height: 18px !important;
}
.ant-steps-item-description{
    line-height: 16px !important;
}
.ant-modal-confirm .ant-modal-confirm-btns{
    text-align: center;
    margin-top: 28px;
}

.ant-modal-content {
    border-radius: 28px !important;
    overflow: hidden;
}
